* {
	margin: 0;
	padding: 0;
}

.resize {
	width: 200px;
	height: auto;
}

footer {
	background: #343A40;
	text-align: center;
	color: white;
	padding-bottom: 32px;
	margin-top: 20px;
}

.footer2 {
	background: #122932;
	color: white;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 22px;
}

.date {
	color: white;
}

.overMij {
	text-align: center;
	background: #E9ECEF;
	padding: 20px;
	margin-bottom: 20px;
}

.skills {
	margin-top: 20px;
}